body{
  padding-top: 50px;
}
#headerWrapper{
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 600px;
  background-image: url("images/HeaderLogo/cloth-store.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 700px;
  background-position: top center;
  background-attachment: fixed;
}

#logotext{
  position: absolute;
  width: 100%;
  height: 180px;
  background-image: url("images/HeaderLogo/download.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30% 180px;
  top: 42%;
  margin-top: -90px;
}

#partial-headerWrapper{
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 210px;
  background-image: url("images/HeaderLogo/cloth-store.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 700px;
  background-position: top center;
  background-attachment: fixed;
}

#partial-logotext{
  position: absolute;
  width: 100%;
  height: 157px;
  background-image: url("images/HeaderLogo/download.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30% 180px;
  top: 42%;
  margin-top: -90px;
}


.img-thumb{
  width: auto;
  height: 200px;
}

#footer{
  margin-top: 50px;
}

img.details{
  width: 90%;
  margin: 15px auto;
}

.table-auto{
  width: auto;
  margin: 0 auto;
}

#add-product-btn{
  margin-top: -35px;
}

.saved-image img{
  width: 20px;
  height: auto;
}

#login-form{
  width: 50%;
  height: 60%;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 7px 7px 15px rgba(0,0,0,0.6);
  margin: 7% auto;
  padding: 15px;
  background-color: #fff;
}

.totals-table-header th{
  text-align: center;
}

#cart_widget td,#recent_widget{
  font-size: 12px;
}

input.price-range{
  width: 55px;
}
